.dairyList {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 17px;
  overflow-y: auto;
  position: relative;
  /* height: 211px; */
}

@media screen and (min-width: 768px) {
  .dairyList {
    /* height: 252px; */
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .dairyList {
    gap: 22px;
    /* max-height: 373px; */
  }
}
