.addBookForm {
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .addBookForm {
    width: 50%;
  }
}

.addBookTitle {
  font-weight: 500;
  padding-left: 14px;
  margin-bottom: 8px;
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  .addBookTitle {
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .addBookTitle {
    font-size: 14px;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.formLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--primary-color-gray);
  cursor: pointer;
}

.formLabelAuthorPages {
  top: calc(50% + 4px);
}

@media screen and (min-width: 768px) {
  .formLabel {
    font-size: 14px;
    line-height: 1.29;
  }
}

.bookInput,
.authorInput,
.pagesInput {
  display: block;
  outline: transparent;
  background-color: var(--secondary-bgr-color-gray);
  border: none;
  border-radius: 12px;
  padding-block: 14px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--primary-color-white);
}

.bookInput {
  padding-left: 77px;
}

.authorInput {
  padding-left: 85px;
  margin-top: 8px;
}

.pagesInput {
  padding-left: 119px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .bookInput,
  .authorInput {
    padding-block: 16px;
    font-size: 14px;
    line-height: 1.29;
  }

  .bookInput {
    padding-left: 86px;
  }

  .authorInput {
    padding-left: 95px;
  }

  .pagesInput {
    padding-left: 135px;
  }
}

.bookInput::placeholder,
.authorInput::placeholder,
.pagesInput::placeholder {
  color: var(--primary-color-white);
}

.bookInput:hover:not(.inputValid):not(.inputInvalid),
.bookInput:focus:not(.inputValid):not(.inputInvalid),
.authorInput:hover:not(.inputValid):not(.inputInvalid),
.authorInput:focus:not(.inputValid):not(.inputInvalid),
.pagesInput:hover:not(.inputValid):not(.inputInvalid),
.pagesInput:focus:not(.inputValid):not(.inputInvalid) {
  border: 1px solid rgba(249, 249, 249, 0.1);
}

.errorMessage,
.successMessage {
  font-size: 10px;
  line-height: 1.2;
  padding-left: 14px;
  padding-top: 4px;
}

@media screen and (min-width: 768px) {
  .errorMessage,
  .successMessage {
    font-size: 12px;
    line-height: 1.17;
    padding-top: 8px;
  }
}

.errorMessage {
  color: var(--accent-color-red);
}

.successMessage {
  color: var(--accent-color-green);
}

.formIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .formIcon {
    right: 18px;
    width: 20px;
    height: 20px;
  }
}

.inputValid {
  border: 1px solid var(--accent-color-green);
}

.inputInvalid {
  border: 1px solid var(--accent-color-red);
}

.iconValidation {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none;
}
