@import url(../RecommendedItem/RecommendedItem.module.css);

.discriptionAndBtnWrapper {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.bookTitle,
.bookAuthor {
  width: 95px;
}
