.signPageWrapper {
  display: grid;
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .signPageWrapper {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .signPageWrapper {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    min-height: 100vh;
    align-items: stretch;
  }

  .bgrWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
  }

  .bgrWrapper picture,
  .bgrWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.signWrapper {
  border-radius: 30px;
  background-color: var(--primary-bgr-color-gray);
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .signWrapper {
    padding: 40px 168px 214px 64px;
  }
}

@media screen and (min-width: 1280px) {
  .signWrapper {
    padding: 40px 64px;
    width: 100%;
    height: 100%;
  }
}

.signHeader {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .signHeader {
    margin-bottom: 157px;
  }
}

@media screen and (min-width: 1280px) {
  .signHeader {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 107px;
  }
}

.logoText {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.02em;
}
