.button {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  color: var(--primary-color-white);
  outline: transparent;
  border: 1px solid rgba(249, 249, 249, 0.2);
  background-color: transparent;
  border-radius: 30px;
  transition: color var(--primary-transition),
    background-color var(--primary-transition),
    border-color var(--primary-transition);
}

.registrationBtn,
.logInBtn {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 42px;
  color: var(--primary-bgr-color-gray);
  background-color: var(--primary-color-white);
  border: none;
}

.registrationBtn {
  padding-left: 29px;
  padding-right: 29px;
}

.logInBtn {
  padding-left: 45px;
  padding-right: 45px;
}

@media screen and (min-width: 768px) {
  .registrationBtn,
  .logInBtn {
    padding: 16px 54px;
    height: 52px;
    font-size: 20px;
    line-height: 1;
  }
}

.registrationBtn:hover,
.logInBtn:hover,
.registrationBtn:focus,
.logInBtn:focus {
  border: 1px solid rgba(249, 249, 249, 0.2);
  color: var(--primary-color-white);
  background-color: var(--primary-bgr-color-gray);
}

.applyBtn {
  margin-top: 20px;
}

.applyBtn,
.logOutBtn,
.addBookBtn {
  padding: 10px 20px;
  height: 38px;
}

.addBookBtn {
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .addBookBtn {
    margin-top: 38px;
  }
}

@media screen and (min-width: 768px) {
  .applyBtn,
  .logOutBtn,
  .addBookBtn {
    padding: 12px 28px;
    height: 42px;
    font-size: 16px;
    line-height: 1.13;
  }
}

.applyBtn:hover,
.logOutBtn:hover,
.addBookBtn:hover,
.addToLibraryBtn:hover,
.startBtn:hover,
.stopBtn:hover,
.applyBtn:focus,
.logOutBtn:focus,
.addBookBtn:focus,
.addToLibraryBtn:focus,
.startBtn:focus,
.stopBtn:focus {
  border: none;
  color: var(--primary-bgr-color-gray);
  background-color: var(--primary-color-white);
}

.addToLibraryBtn {
  padding: 12px 24px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .addToLibraryBtn {
    padding: 14px 28px;
    height: 46px;
    font-size: 16px;
    line-height: 1.13;
  }
}

.startBtn,
.stopBtn {
  padding: 10px 20px;
  height: 38px;
}

@media screen and (min-width: 768px) {
  .startBtn,
  .stopBtn {
    padding: 12px 28px;
    height: 42px;
    font-size: 16px;
    line-height: 1.13;
  }
}

.closeModalBtn,
.closeMobMenuBtn,
.burgerBtn,
.deleteBookBtn,
.deleteDairyItemBtn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.closeMobMenuBtn {
  position: absolute;
  top: 34px;
  right: 40px;
}

.closeModalBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}
