.signTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .signTitle {
    font-size: 64px;
    line-height: 0.94;
    margin-bottom: 40px;
    max-width: 444px;
  }
}

.signTitleAccentWord {
  color: var(--secondary-color-gray-alpha);
}

.inputWrapper {
  position: relative;
}

.formLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--primary-color-gray);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .formLabel {
    font-size: 14px;
    line-height: 1.29;
  }
}

.inputName,
.inputEmail,
.inputPwd {
  display: block;
  outline: transparent;
  background-color: var(--secondary-bgr-color-gray);
  border: none;
  border-radius: 12px;
  padding-block: 14px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--primary-color-white);
}

.inputName {
  padding-left: 59px;
}

.inputEmail {
  padding-left: 49px;
  margin-top: 8px;
}

.inputPwd {
  padding-left: 78px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .inputName,
  .inputEmail,
  .inputPwd {
    padding-block: 16px;
    font-size: 14px;
    line-height: 1.29;
  }

  .inputName {
    padding-left: 65px;
  }

  .inputEmail {
    padding-left: 53px;
    margin-top: 14px;
  }

  .inputPwd {
    padding-left: 86px;
    margin-top: 14px;
  }
}

.inputName::placeholder,
.inputEmail::placeholder,
.inputPwd::placeholder {
  color: var(--primary-color-white);
}

.inputName:hover:not(.inputValid):not(.inputInvalid),
.inputName:focus:not(.inputValid):not(.inputInvalid),
.inputEmail:hover:not(.inputValid):not(.inputInvalid),
.inputEmail:focus:not(.inputValid):not(.inputInvalid),
.inputPwd:hover:not(.inputValid):not(.inputInvalid),
.inputPwd:focus:not(.inputValid):not(.inputInvalid) {
  border: 1px solid rgba(249, 249, 249, 0.1);
}

.errorMessage,
.successMessage {
  font-size: 10px;
  line-height: 1.2;
  padding-left: 14px;
  padding-top: 4px;
}

@media screen and (min-width: 768px) {
  .errorMessage,
  .successMessage {
    font-size: 12px;
    line-height: 1.17;
    padding-left: 14px;
    padding-top: 8px;
  }
}

.errorMessage {
  color: var(--accent-color-red);
}

.successMessage {
  color: var(--accent-color-green);
}

.formIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .formIcon {
    right: 18px;
    width: 20px;
    height: 20px;
  }
}

.inputValid {
  border: 1px solid var(--accent-color-green);
}

.inputInvalid {
  border: 1px solid var(--accent-color-red);
}

.iconValidation {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.inputWrapper:has(.iconValidation) .formIcon {
  right: 46px;
}

@media screen and (min-width: 768px) {
  .iconValidation {
    right: 18px;
    width: 20px;
    height: 20px;
  }

  .inputWrapper:has(.iconValidation) .formIcon {
    right: 48px;
  }
}

.btnAndLinkWrapper {
  margin-top: 20px;
  display: flex;
  gap: 14px;
  align-items: center;
}

.linkText {
  font-size: 12px;
  line-height: 1.17;
  text-decoration: underline;
  color: var(--primary-color-gray);
  transition: color var(--primary-transition);
}

.linkText:hover,
.linkText:focus {
  color: var(--primary-color-white);
}

@media screen and (min-width: 768px) {
  .btnAndLinkWrapper {
    gap: 20px;
    margin-top: 82px;
  }

  .linkText {
    font-size: 14px;
    line-height: 1.29;
  }
}
