.noResultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  padding-top: 63px;
  padding-bottom: 100px;
}

.noResultsContainerReadingPage {
  gap: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .noResultsContainerRecommendedPage,
  .noResultsContainerLibraryPage {
    padding-top: 86px;
    padding-bottom: 160px;
  }

  .noResultsContainerReadingPage {
    gap: 50px;
    padding-bottom: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .noResultsContainerRecommendedPage,
  .noResultsContainerLibraryPage {
    padding-top: 147px;
  }
}

.noResultsImgWrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--secondary-bgr-color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noResultsImgWrapperReadingPage {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .noResultsImgWrapper {
    width: 130px;
    height: 130px;
  }

  .noResultsImgWrapperReadingPage {
    width: 100px;
    height: 100px;
  }
}

.noResultsText {
  font-size: 14px;
}

.noResultsTextRecommendedPage,
.noResultsTextLibraryPage {
  text-align: center;
  max-width: 197px;
}
.noResultsTextReadingPage {
  text-align: start;
  color: var(--primary-color-gray);
}

@media screen and (min-width: 768px) {
  .noResultsTextRecommendedPage,
  .noResultsTextLibraryPage {
    max-width: 274px;
  }
}

.infoTextAccent {
  color: var(--primary-color-gray);
}
